.athleticsJudging {
  padding: 20px;
}

.athletesTable table {
  width: 100%;
  border-collapse: collapse;
}

.athletesTable th, .athletesTable td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.athletesTable td input {
  width: 100px;
  padding: 5px;
  text-align: center;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
